:root{
    {% if accent %}--accent: {{accent}};{% endif %}
    {% if accent_light %}--accent_light: {{accent_light}};{% endif %}
    {% if primary%}--primary: {{primary}};{% endif %}
    {% if secondary %}--secondary: {{secondary}};{% endif %}
}
