.new-accent {
    background: var(--accent, #00B0FF);
}

.new-accent-light {
    background: var(--accent_light);
}

.new-primary {
    background: var(--primary, #00695C);
}

.new-secondary {
    background: var(--secondary, #26A69A);
}
